@font-face {
	font-family: "Forum";
	font-style: normal;
	font-weight: 400;
	src: url(./Forum/Forum-Regular.ttf) format("truetype");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.home-link {
    text-decoration: none;
    color: #111;
}

h1 {
    margin: 3rem 0;
    text-align: center;
    text-transform: uppercase;
    line-height: 2rem;
    letter-spacing: 2px;
    color: #111;
    font-size: 40px;
}

h1 span {
    font-size: 48px;
}

h2 {
    margin: 3rem 0;
    text-transform: uppercase;
    color: #111;
    font-size: 28px;
}

h1,
h2,
h3,
h4,
h4,
h5,
h6 {
    font-family: "Forum", Georgia, "Noto Serif", "Times New Roman", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    background-color: #f1f1f1;
    color: #111;
    font-size: 15px;
}

main {
    width: 100%;
    max-width: 750px;
    padding: 0 1rem;
}

.navbar {
    margin: 1rem 0;
    display: flex;
    justify-content: space-around;
    font-size: small;
}

.navbar a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 0;
    color: #505050;
}

.navbar a:hover {
    text-decoration: underline;
    color: darkblue;
}

.navbar-accordion {
    border-top: 1px solid rgb(212, 212, 212);
    border-bottom: 1px solid rgb(212, 212, 212);
    font-size: small;
    max-width: 500px;
    margin: 0 auto;

}

.navbar.accordion a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 6px;
    color: #505050;
}

.navbar-accordion a:hover {
    text-decoration: underline;
    color: darkblue;
}

p {
    margin: 1rem 0;
    color: #323232;
}

.text-justify {
    text-align: justify;
}

.billede {
    width: 100%;
    height: auto;
    background-color: lightgrey;
    border: 1px solid grey;
    border-radius: 6px;
}

footer {
    text-align: center;
    margin: 28px 0;
    font-size: smaller;
    align-items: center;
}

.footer-contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;
    gap: 1rem;
}

.facebook-link {
    text-decoration: none;
    color: #111;
    display: flex;
    align-items: center;
    gap: 8px;
}

.facebook-link-logo {
    max-width: 2rem;
    color: aliceblue;
}

/* accordion */

.accordion {
    background-color: #eee;
    color: #4f4f4f;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 14px;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ddd;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: rgb(244, 244, 244);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.nav-link {
    width: 100%;
    text-decoration: none;
    color: #323232;
    text-transform: uppercase;
    padding: 1rem 0;
}

.display-block {
    display: block;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.space-between {
	justify-content: space-between;
}

@media screen and (max-width:500px) {
    .navbar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-contact {
        flex-direction: column;
    }
}
